body {
  background-color: #D9AFD9;
  background-image: linear-gradient(62deg, #D9AFD9 0%, #97D9E1 100%);
  }




  
.but_wrapper {
 text-align: center;
 position: fixed;
 top: 70%;
 left: 25%;
}

.encrypt {
  background-image: linear-gradient(92.88deg, #673FD7 9.16%, #5643CC 43.89%, #455EB5 64.72%);
  border-radius: 30px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 30px;
  font-weight: 400;
  height: 6rem;
  padding: 0 12rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.encrypt {
  background-color: transparent;
  border: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 30px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: white;
}

.encrypt:hover {
  box-shadow: 0 0 10px 0 #4a068d inset, 0 0 20px 2px #4a068d;
  border: 3px solid #4a068d;
}

.decrypt {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 30px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 30px;
  font-weight: 400;
  height: 6rem;
  padding: 0 12rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  ;
}

.decrypt {
  background-color: transparent;
  border: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 30px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: white;
}

.decrypt:hover {
  box-shadow: 0 0 10px 0 #4a068d inset, 0 0 20px 2px #4a068d;
  border: 3px solid #4a068d;
}


.headline {
  text-align: center;
  margin: 3%;
  font-size: 50px;
  
}

.paragraph {
  text-align: center;
  font-size: 30px;
  padding-right: 500px;
  padding-left: 500px;
  font-family: 'Droid serif';
}

.line_text:before{
  content:" ";
  display: block;
  height: 2px;
  width: 130px;
  position: absolute;
  top: 50%;
  left: 0;
  background: red;
}

.line_text{
  position: relative;
}

.line_text{
  position: relative;
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
}

.line_text:after{
  content:" ";
  height: 2px;
  width: 130px;
  background: red;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

.action_c {
  text-align: center;
  font-size: 28px;
}

.finisher {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 50px;
  padding-bottom: 50px;
  font-size: 20px;
}